<div class="jumbotron row container-fluid">
  <div class="col-xs-12 col-sm-4">
    <md-card>
      <md-card-header>
        <md-card-title>Zone finder</md-card-title>
        <md-card-subtitle>Made with Material 2</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/what-zone_converted.png">
      <md-card-actions>
        <button md-button (click)="goToPage('whatZone')">PAGE</button>
        <button md-button (click)="goToCode('whatZone')">CODE</button>
      </md-card-actions>
    </md-card>
  </div>

  <div class="col-xs-12 col-sm-4">
    <md-card>
      <md-card-header>
        <md-card-title>Random Quote</md-card-title>
        <md-card-subtitle>Made with Bootstrap</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/random-quote_converted.png">
      <md-card-actions>
        <button md-button (click)="goToPage('randomQuote')">PAGE</button>
        <button md-button (click)="goToCode('randomQuote')">CODE</button>
      </md-card-actions>
    </md-card>
  </div>

  <div class="col-xs-12 col-sm-4">
    <md-card>
      <md-card-header>
        <md-card-title>Fan Page</md-card-title>
        <md-card-subtitle>Made with bootstrap</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/b-rob_converted.png">
      <md-card-actions>
        <button md-button (click)="goToPage('fanPage')">PAGE</button>
        <button md-button (click)="goToCode('fanPage')">CODE</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
