<div class="jumbotron row container-fluid">
  <div class="col-xs-12 col-sm-4"><md-card [style.background]="'lightblue'"><p>Zone finder</p><img class="center-block img-responsive img-rounded" src="assets/what-zone.png"> Built with angular 2 plus material 2 <a href="https://thesmokinggnu.github.io/what-zone/">link</a></md-card></div>
  <div class="col-xs-12 col-sm-4"><md-card [style.background]="'lightblue'"><p>Random Quote</p><img class="center-block img-responsive img-rounded" src="assets/random-quote.png"> Built with bootstrap <a href="http://codepen.io/petergrainger/full/NbVgEp/">link</a></md-card></div>

  <div class="col-xs-12 col-sm-4"><md-card [style.background]="'lightblue'">Project 1</md-card></div>
</div>