<div class = "jumbotron row container-fluid">
    <div class = "col-xs-12 col-sm-2">
        <img class="center-block img-responsive img-rounded" src="https://raw.githubusercontent.com/TheSmokingGnu/web-pics/master/IMG_20160516_210804157.jpg">
    </div>
    <div class="col-xs-12 col-sm-10">
        <p>Programmer, some other witty comment.</p>

        <a href="https://www.facebook.com/DancingWeasel?ref=br_rs"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://github.com/TheSmokingGnu"><i class="fa fa-github fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/peterjamesgrainger"><i class="fa fa-linkedin fa-2x"></i></a>
    </div>
</div>


